{% extends 'layout.html.twig' %}

{% form_theme form _self %}

{%- block form_errors -%}
    {% set angularValidation = form.vars.full_name %}

    {%- if form.parent.vars is defined -%}
        {% set formName = form.parent.vars.name %}
    {% else %}
        {% set formName = form.vars.name %}
    {%- endif -%}

    {% if (type is not defined
            or type != 'file')
            and formName != 'attachment' %}
        {%- if errors|length > 0 -%}
            <small class="error" ng-show="{{ 'showError(' ~ formName ~ ', "' ~ angularValidation ~ '")' }}">
                {%- for error in errors -%}
                    {{ error.message }}<br>
                {%- endfor -%}
            </small>
        {% else %}
            <small ng-show="message['{{ angularValidation }}'].show" class="error">{{ '{{ getMessage(' ~ formName ~ ', "' ~ angularValidation ~ '") }}' }}</small>
        {%- endif -%}
    {% elseif (errors|length > 0) %}
        <small class="error">
            {%- for error in errors -%}
                {{ error.message }}<br>
            {%- endfor -%}
        </small>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget_collection') -}}
{%- endblock collection_widget -%}

{%- block form_widget_collection -%}
    <ul class="{{ name }}" {{ block('widget_container_attributes') }}>
        <li>{{- block('form_widget') -}}<a href="#" class="remove-tag"><i class="fi-x"></i></a></li>
    </ul>
{%- endblock form_widget_collection -%}

{%- block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                    }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        {% set angularValidation = form.vars.full_name %}
        {% set label_attr = label_attr|merge({'ng-class': "{'error': message['" ~ angularValidation ~ "'].show}"}) %}

        {%- if errors|length > 0 -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' error')|trim}) %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is sameas(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}

    {% set angularValidation = form.vars.full_name %}
    {% set attr = attr|merge({'ng-class': "{'error': message['" ~ angularValidation ~ "'].show}"}) %}
    {% if (attr['ng-model'] is defined) %}
        {% set attr = attr|merge({'ng-init': attr['ng-model'] ~ '="' ~ form.vars.value ~ '"'}) %}
    {% endif %}

    {%- if errors|length > 0 -%}
        {% if attr.class is not defined %}
            {% set attr = attr|merge({'class': 'error'|trim}) %}
        {% else %}
            {% set attr = attr|merge({'class': (attr.class ~ ' error')|trim}) %}
        {% endif %}
    {%- endif -%}

    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{%- block form_row -%}
    {% if (type is defined and type == 'file')
            or 'attachment' == form.parent.vars.name %}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    {% else %}
        <div>
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock form_row -%}

{% block content %}
    <div class="row">
        <h1>{{ title|trans }}</h1>
        <a href="{{ path('change_lang') }}" class="button right">{{ "Language"|trans }}</a>

        <div class="small-10">
            <div class="row">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
